@import "compass"
@import "compass/layout"

/* RESET DEFAULTS */
@import "reset"

// declare fonts
$header-text: 'Lato', "Trebuchet MS", Helvetica, sans-serif
$body-text: 'Lora', "Times New Roman", Times, serif
$terminal-text: "Lucida Console", monospace

// text size
$body-size: 16px
$header-size: 3 * $body-size
$subHeader-size: 1.5 * $body-size
$byline-size: 0.75 * $body-size

// leading and line-width
$leading: 1.5
$line-width: 540px

// color scheme
$dark: #000000
$semi-dark: #0a0a0a
$base-color: #121212
$semi-light: #191919
$light: #282828

// terminal gradient
$terminal-gradient: rgb(174, 174, 174)

// $test-border: #2a6983

// functions and mixins
@function fluidize($target, $context)
	@return percentage($target/$context)

=img-sizing($location, $pheight, $pwidth)
	height: fluidize(image-height($location), $pheight)
	width: fluidize(image-width($location), $pwidth)

/* SET DEFAULT STRUCTURE */
html, body
	height: 100%
	width: 100%
	font-family: $body-text
	font-size: $body-size
	color: invert($base-color)
	line-height: $leading
li
	list-style-type: none
input
	border: 0
	padding: 0
	background-color: $dark
	color: invert($dark)
	font-family: $terminal-text
	font-size: $byline-size
input:focus
	outline: none
iframe
	display: none


/* FORMAT SECTIONS */
.header, .footer, .content
	position: relative
	width: 100%
.header, .footer
	background-color: $semi-dark
	height: 13%
	width: 100%
	left: 0
	z-index: 50
	text-decoration: none
.header
	top: 0
.footer
	bottom: 0
.content
	background-color: $base-color
	height: 74%

/* HEADER */
.nav, .logo
	position: absolute
	vertical-align: bottom
	color: invert($base-color)
	display: none

.nav
	bottom: 0.5em
	right: 5vw
.commands
	font-family: $header-text
	font-size: $subHeader-size
	.cmd
		display: inline
		margin: 0 0 0 1em
		a
			padding: 50% 1em 2.1% 1em
			&:hover
				background-color: $light


.logo
	left: 0.5em
	bottom: 0
	font-family: $header-text
	font-size: $header-size
.name
	display: inline
	margin: 0 0 0 0.4em

/* CONTENT */

/* TERMINAL AREA */
.terminal
	position: absolute
	margin: 1em 1em 0em 1em
	background-color: $dark
	height: 95%
	width: 35%
	font-family: $terminal-text
	font-size: $byline-size
	color: invert($dark)
	border: 1px solid $terminal-gradient
	border-top: none

	.top
		height: 2.5%
		width: 100%
		position: relative
		+background(linear-gradient(bottom, $light, $terminal-gradient))
		.dir
			color: $dark
			font-size: 10px
			position: absolute
			bottom: 0
			margin-left: 2%
	.shell
		height: 97.5%
		width: 100%
		overflow-y: auto
		.text
			margin: 4px

/* ACTIVE CONTENT */
.context
	position: absolute
	height: 95%
	width: 55%
	left: 40%
	margin: 0em 0em 1em 1em
	h1
		font-family: $header-text
		font-size: $header-size
	p
		width: $line-width
		margin-top: 0.5em
		float: left
	.top, .bottom
		width: 100%
		position: relative
	.top
		height: 43%
	.bottom
		margin-top: 2%
		height: 55%
	
	/* CONTENT TYPES */
	#about, #projects, #skills, #resume
		display: none
		overflow: hidden

	#about
		.me
			height: image-height("Me.jpg")
			width: image-width("Me.jpg")
			position: absolute
			border-radius: 30px
			margin-left: 12.5%
			bottom: 10%


	#projects
		ul
			margin-top: 4%
		li
			display: inline-block
			position: absolute
			opacity: 0.7
		li:hover
			opacity: 1 
		li#zazz
			left: 0
			width: 40%
			margin-top: 2%
			img
				+img-sizing("Zazz.png", 78px, 232.531px)
		li#imGrab
			right: 5%
			bottom: 5%
			img
				+img-sizing("imGrab.png", 78px, 232.531px)
				border-radius: 30px
	#skills
		ul
			margin-top: 2%
		li
			font-family: $header-text
			display: inline-block
			width: 30%
			margin: 0 3% 1% 0
			.rating
				margin-left: 5%

	#resume
		.view, .download
			font-size: $subHeader-size
			display: inline-block
			margin-top: 5%
		.download
			margin-left: 20%
		.view:hover, .download:hover
			text-decoration: underline

/* FOOTER */
.footer ul
	text-align: center
	display: none
.footer li
	display: inline

a#github
	opacity: 0.5
a#email
	opacity: 0.95
a#linkedin
	opacity: 0.3
.icon
	margin: 0.8% 12% 0 12%
	opacity: 0.8
	height: 54px
	width: 54px
	&:hover
		opacity: 1
	&#linkedin
		height: image-height("linkedin.png")
		width: image-width("linkedin.png")
	&#github
		height: image-height("github.png")
		width: image-width("github.png")
	
