/* RESET DEFAULTS */
/* courtesy of http://jaydenseric.com/ */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* SET DEFAULT STRUCTURE */
html, body {
  height: 100%;
  width: 100%;
  font-family: "Lora", "Times New Roman", Times, serif;
  font-size: 16px;
  color: #ededed;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

input {
  border: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Lucida Console", monospace;
  font-size: 12px;
}

input:focus {
  outline: none;
}

/* FORMAT SECTIONS */
.header, .footer, .content {
  position: relative;
  width: 100%;
}

.header, .footer {
  background-color: #0a0a0a;
  height: 13%;
  width: 100%;
  left: 0;
  z-index: 50;
  text-decoration: none;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.content {
  background-color: #121212;
  height: 74%;
}

/* HEADER */
.nav, .logo {
  position: absolute;
  vertical-align: bottom;
  color: #ededed;
  display: none;
}

.nav {
  bottom: 0.5em;
  right: 5vw;
}

.commands {
  font-size: 24px;
}

.cmd {
  display: inline;
  margin: 0 0 0 1em;
}
.cmd a {
  padding: 50% 1em 1.8% 1em;
}
.cmd a:hover {
  background-color: #282828;
}

.logo {
  left: 0.5em;
  bottom: 0;
  font-family: "Lato", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 48px;
}

.name {
  display: inline;
  margin: 0 0 0 0.4em;
}

/* CONTENT */
.terminal {
  position: absolute;
  margin: 1em 1em 0em 1em;
  background-color: black;
  height: 95%;
  width: 35%;
  font-family: "Lucida Console", monospace;
  font-size: 12px;
  color: white;
  border: 1px solid #aeaeae;
  border-top: none;
}
.terminal .top {
  height: 2.5%;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #282828), color-stop(100%, #aeaeae));
  background: -webkit-linear-gradient(bottom, #282828, #aeaeae);
  background: -moz-linear-gradient(bottom, #282828, #aeaeae);
  background: -o-linear-gradient(bottom, #282828, #aeaeae);
  background: linear-gradient(bottom, #282828, #aeaeae);
}
.terminal .top .dir {
  color: black;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  margin-left: 2%;
}
.terminal .shell {
  height: 97.5%;
  width: 100%;
  overflow-y: auto;
}
.terminal .shell .text {
  margin: 4px;
}

.context {
  position: absolute;
  height: 95%;
  width: 55%;
  left: 40%;
  margin: 0em 0em 1em 1em;
}
.context h1 {
  font-family: "Lato", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 48px;
}
.context p {
  width: 540px;
  margin-top: 1em;
  float: left;
}
.context .top, .context .bottom {
  width: 100%;
  position: relative;
}
.context .top {
  height: 38%;
}
.context .bottom {
  margin-top: 2%;
  height: 60%;
}
.context #about, .context #projects, .context #skills, .context #contact {
  display: none;
}

.me {
  position: absolute;
  height: 150px;
  width: 115px;
  border-radius: 30px;
  margin-left: 12.5%;
  bottom: 13%;
}

/* FOOTER */
.footer ul {
  text-align: center;
  display: none;
}

.footer li {
  display: inline;
}

a#github {
  opacity: 0.5;
}

a#email {
  opacity: 0.95;
}

a#linkedin {
  opacity: 0.3;
}

.icon {
  margin: 0.8% 12% 0 12%;
  opacity: 0.8;
  height: 54px;
  width: 54px;
}
.icon:hover {
  opacity: 1;
}
.icon#linkedin {
  height: 48px;
  width: 58px;
}
.icon#github {
  height: 48px;
  width: 58px;
}

/*@ sourceMappingURL=main.css.map */